* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sendEmail {
  height: 1100px;
  width: 884px;
  background-color: #fff;
  position: relative;
}

.headerLogo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.main {
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameCompany {
  font-size: 30px;
  font-weight: 700;
  line-height: 34.5px;
  padding-top: 16px;
}

.welcome {
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.image {
  height: 300px;
}

.welcomeTitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 34.5px;
  padding-top: 26px;
}

.connect {
  padding-top: 26px;
  width: 756px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}

.link {
  color: #40a9ff;
}

.btn {
  padding-top: 16px;
}

.btnStart {
  padding: 16px 40px;
  color: #fff;
  background-color: #32a1c8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  border: 1px solid #32a1c8;
}

.btnStart:hover {
  color: #32a1c8;
  background-color: #fff;
  border: 1px solid #32a1c8;
}

hr {
  margin-top: 48px;
  width: 420px;
  color: rgba(39, 39, 39, 0.3);
}

.footer {
  padding-top: 36px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactUs {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}

.email {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #40a9ff;
}
.address {
  width: 565px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #272727;
}

.phone {
  padding-top: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}

.copyright {
  padding-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}
