* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comfirmCode {
  height: 1072px;
  width: 884px;
  background-color: #fff;
  position: relative;
}

.headerLogo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.main {
  padding: 150px 64px 0 64px;
}

.dead {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #272727;
}

.text {
  padding-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
}

.link {
  color: #40a9ff;
}

.comfirmText {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
  padding-bottom: 26px;
}

.code {
  padding: 29px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #121a26;
  background-color: #f3f4f6;
}

.time {
  padding-top: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
}

.thanks {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
}

.bestRegards {
  padding-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #272727;
}

.image {
  height: 300px;
}

.imageMain {
  width: 100%;
}

hr {
  margin-top: 30px;
  width: 420px;
  color: rgba(39, 39, 39, 0.3);
  margin-left: 232px;
}

.footer {
  padding-top: 26px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactUs {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}

.email {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #40a9ff;
}

.address {
  width: 565px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #272727;
}

.phone {
  padding-top: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}

.copyright {
  padding-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #272727;
}
